.container{
    padding-bottom: 60px;
    padding-top: 60px;
}

.container > .short-row{
    width: 600px;
    margin-left: calc(50% - 300px);
}

.container > .row{
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
}

.container > .columns{
    display: flex;
    justify-content: space-between;
}

.container > .columns > .column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.container > .columns > .right-column{
    width: 40%;
}
@media (max-width: 1100px) {
    .container > .row{
        width: 800px;
        margin-left: calc(50% - 400px);
    }
}

@media (max-width: 900px) {
    .container > .row{
        width: 600px;
        margin-left: calc(50% - 300px);
    }
    .container > .columns{
        flex-direction: column;
        gap: 60px;
    }
    .container > .columns > .column{
        width: 100%;
    }
}

@media (max-width: 640px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container > .row,
    .container > .short-row{
        width: 100%;
        margin-left: 0;
    }
}