.btn{
    padding: 0.5em 0.8em;
    font-size: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #fff;
    line-height: 1em;
    background-color: #ea1e63;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    user-select: none;
}

.btn:hover{
    box-shadow: 0 4px 8px #0002;
}

.btn.btn-circle{
    width: 2em;
    height: 2em;
    line-height: 2em;
    padding: 0;
    border-radius: 50%;
}