.progress-bar{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.progress-bar > .top{
    display: flex;
    justify-content: space-between;
}

.progress-bar > .top > .label{

}

.progress-bar > .top > .value{

}

.progress-bar > .progress{
    width: 100%;
    height: 6px;
    background-color: lightgray;
}

.progress-bar > .progress > .bar{
    width: 100%;
    height: 100%;
}

.progress-bar > .progress > .bar > .loading {
    width: 100%;
    height: 100%;
    background-color: #03a9f3;
    animation-name: laoding;
    animation-duration: 3s;
}

@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
